container_commands:
  01_install_yarn:
    command: "npm install -g yarn"
  02_yarn_and_preprocess:
    command: "yarn && yarn preprocess"
  03_setup_permissions:
    command: "chmod +x /localfork/setup.sh"
  04_run_ForkSetup_l:
    command: "node ForkSetup.js -l"
    cwd: "/localfork"
  05_run_ForkSetup_d:
    command: "node ForkSetup.js -d"
    cwd: "/localfork"
  06_run_ForkSetup_dp:
    command: "node ForkSetup.js -dp"
    cwd: "/localfork"
  07_get_script:
    command: "node ForkSetup.js -b > /tmp/forksetup.sh"
    cwd: "/localfork"
  08_execute_script:
    command: "source /tmp/forksetup.sh"
